<div class="header">
    <h1 class="site-title js-fit-text">Sarah-Beth <span class="amp">&</span> Reuben</h1>

    <nav>
        <ul class="site-nav ui-list" id="menu">
            <li class="nav-item <%- current.source == 'index' ? 'active' : '' %>"><a href="/">Home</a></li>
            <li class="nav-item <%- current.source == 'festivities' ? 'active' : '' %>"><a href="/festivities.html">Festivities</a></li>
            <li class="nav-item <%- current.source == 'travel-accomodations' ? 'active' : '' %>"><a href="/travel-accomodations.html">Travel <span class="amp">&</span> Accomodations</a></li>
            <li class="nav-item <%- current.source == 'engagement' ? 'active' : '' %>"><a href="/engagement.html">Engagement</a></li>
            <li class="nav-item <%- current.source == 'registry' ? 'active' : '' %>"><a href="/registry.html">Registry</a></li>
            <li class="nav-item <%- current.source == 'wedding-party' ? 'active' : '' %>"><a href="/wedding-party.html">Wedding Party</a></li>
            <li class="nav-item <%- current.source == 'destination-guide' ? 'active' : '' %>"><a href="/destination-guide.html">Destination Guide</a> </li>
        </ul>
    </nav>
</div>
